<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Scan History</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="container">


<h1>
📜 Scan History
</h1>



<table>


<tr>

<th>ID</th>
<th>URL</th>
<th>Risk Score</th>
<th>Verdict</th>
<th>Date</th>

</tr>



{% for scan in scans %}


<tr>

<td>
{{ scan[0] }}
</td>


<td>
{{ scan[1] }}
</td>


<td>
{{ scan[2] }}/100
</td>


<td>

{{ scan[3] }}

</td>


<td>

{{ scan[4] }}

</td>


</tr>


{% endfor %}


</table>




<a href="/" class="button">

← Analyze New URL

</a>



</div>


</body>

</html>